.project-grid-item {
    text-align: center;
    margin: 1rem;
  }

.project-grid-item img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.project-text span {
    background-color: rgb(141, 141, 141);
    color: white;
    padding: 1px 3px;
    font-size: small;
  }