.folder-grid-item {
    text-align: center;
    margin: 1rem;
  }

.folder-grid-item img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.folder-text span {
    background-color: var(--gray-141);
    color: white;
    padding: 1px 3px;
    font-size: small;
  }