.window-container {
    /* border-radius: 10px 10px 0px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .window-window {
    margin: 1rem 1rem;
    border-left: 3px solid rgb(190, 190, 190);
    border-top: 3px solid rgb(190, 190, 190);
    border-right: 3px solid rgb(100, 100, 100);
    border-bottom: 3px solid rgb(100, 100, 100);
    background-color: rgb(235, 235, 235);
    width: 700px;
    height: 500px;
  }
  
  .window-browser-bar {
    height: 30px;
    background-color: #010081;
    color: white;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 2; */
  }

  .window-browser-bar p {
    padding-left: .5rem;
    margin-bottom: 0;
  }
  .window-max-min {
    display: flex ;
    flex-direction: row;
    padding-right: .5rem;
  }
  
  .window-circle-r {
    width: 12px;
    height: 12px;
    /* border-radius: 50%; */
    margin: 2px;
    background-color: rgb(190, 190, 190);
  }

  .window-circle-y {
    width: 12px;
    height: 12px;
    /* border-radius: 50%; */
    margin: 2px;
    background-color: rgb(190, 190, 190);
  }

  .window-circle-g {
    width: 12px;
    height: 12px;
    /* border-radius: 50%; */
    margin: 2px;
    background-color: rgb(190, 190, 190);
  }

.window-content {
    padding: .5rem;
}

img {
    width: 200px;
    height: 200px;
}